/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Spotify-like dark theme */
body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 3px;
}